<div class="todos">
        <div class="content">
        <app-todos *ngFor = 'let card of Cards | slice:0:count ' [id] = 'card.id' [name] = 'card.name'  [lastName] = 'card.lastName'>
        </app-todos> 

        </div>

    <div class="btn-container">

        <button class="btn" [disabled] = 'addDisable'  (click) = 'add()'>Add</button>
        <button (click) =   'remove()' [disabled] = 'deletDisable'> Remove</button>
        <button (click) = 'reset()' [disabled] = 'resetDisable'>Reset</button>

    </div>
</div>
